<footer>
    Pour aller plus loin, rdv sur le lien suivant : 
    <div>
         <a href="https://www.youtube.com/watch?v=hn5gEo_BBOY&list=PL89A711C53A33F2E4&index=1" target="_blank" rel="noopener noreferrer">EJS</a>
    </div>    
   
</footer>
