<!-- <!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test EJS</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body> -->
<header>
    <div class="title">
        <b>Démo Routage express</b> 
    </div>
    <div>
        <button class="button" onclick="window.location.href='/'">Exemple</button>
    <div>

    </div>
    
</header>